:root {
    --bs-body-bg: #fff;
    --vz-card-box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}
.services_icon img {
    width: 80px;
}
.services_flex {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(175px,1fr));
    grid-gap: 10px;
    /* margin-bottom: 1rem; */
}
@media (min-width: 1300px) {
    .services_flex {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(208px,1fr));
        grid-gap: 35px;
    }
}
.services_iconList {
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    /* width: 120px; */
    justify-content: flex-start;
    background-color: var(--bg-cool-mint);
    border-radius: 0.825rem;
    padding: 0.625rem;
    box-shadow: var(--vz-card-box-shadow);
}
.services_label {
    font-display: swap;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}
.h4-header-color {
    color: rgb(213 92 67);
}